@import 'base/constants';

main > ul {
  list-style-type: none;
  margin: 0;

  li+li {
    border-top: 1px solid $line-color;

    margin-top: 2rem;
    padding-top: 2rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  a {
    color: $default-text-color;
  }
}

// FIXME wrong file

figure {
  margin: 0;
}
