<!DOCTYPE html>
<html>
  <head>
    {% include 'partials/meta.jinja' %}

    <script
      data-no-instant
      src='https://code.jquery.com/jquery-3.1.0.js'
      integrity='sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk='
      crossorigin='anonymous'>
    </script>

    <link rel="stylesheet" href="/css/justifiedGallery.css" />
    <script src="/js/justifiedGallery.js"></script>
  </head>

  <body class='wide dark'>

    {% include 'partials/header-minimal.jinja' %}

    <main>
      <section id='gallery'>
        {% for page in paginator.pages %}
          <a href='{{ page.url }}'>
            <img src='{{ page.image.small }}'/>
          </a>
        {% endfor %}
      </section>

      <script type='text/ecmascript'>
      $('#gallery').justifiedGallery({
        rowHeight: 360,
        justifyThreshold: 0.5,
        sizeRangeSuffixes: {
          600: '.small',
          900: '.medium',
          1400: '.large',
          9999: '.fullsize',
        }
      });
      </script>
    </main>
  </body>
</html>
