<section id='copyright'>
  {% if not page.license %}
    <p>Copyright {{ page.date.strftime('%Y') }}</p>
    <p>All rights reserved</p>
  {% else %}

    {% set license = page.license.upper() %}

    {% if license == 'PUBLIC DOMAIN' %}
      <svg aria-hidden>
        <use xlink:href='/assets/icons.svg#licenses/cc/publicdomain'></use>
      </svg>

      <p>This work is in the Public Domain</p>

    {% elif license == 'CC0' %}
      <svg aria-hidden>
        <use xlink:href='/assets/icons.svg#licenses/cc/zero'></use>
      </svg>

      <p>
        Dedicated to the Public Domain via
        <a rel='license' href='https://creativecommons.org/publicdomain/zero/1.0/'>
          {{ page.license }}
        </a>
      </p>

    {% elif 'CC' in license %}
      {% set cc_components = license.split(' ') %}
      {% set cc_variant = cc_components[1].lower().split('-') %}
      {% set cc_version = cc_components[-1] %}

      <h3 aria-hidden>

        <svg>
          <use xlink:href='/assets/icons.svg#licenses/cc/cc'></use>
        </svg>

        {% for term in cc_variant %}
          <svg>
            <use xlink:href='/assets/icons.svg#licenses/cc/{{term}}'></use>
          </svg>
        {% endfor %}

      </h3>

      <p>
        Licensed under
        <a rel='license' href='https://creativecommons.org/licenses/{{ '-'.join(cc_variant) }}/{{ cc_version }}/'>
          {{ page.license }}
        </a>
      </p>

    {% else %}
      ERROR: Unknown license {{ page.license }}
    {% endif %}
  {% endif %}
</section>
