{% if page.author %}
  {% set author = page.author %}
{% else %}
  {% set author = site.author %}
{% endif %}

<section id='signature'>
  <h3>
    Written by
    {% if author.keybase %}
      <a href='{{ author.keybase }}'>
        {{ author.name }}
        <i class='fa fa-key'></i>
      </a>
    {% else %}
      {{ author.name }}
    {% endif %}
  </h3>
  <p>{{ author.bio }}</p>
</section>
