nav.pagination {
  display: block;
  width: 100%;

  text-align: center;
  height: 3rem;

  #previous-page {
    float: left;
  }

  #page-number {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }

  #next-page {
    float: right;
  }
}
