@import 'base/constants';

footer {
  margin-top: 2rem;

  border-top: 1px solid $line-color;

  padding: 1rem 0;

  a {
    text-decoration: none;
  }

  /*
  nav {
    height: 2.5rem;
    line-height: 2.5rem;
    margin: 1em 0;
  }
  */

  display: flex;
  justify-content: space-between;

  #signature, #copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: $secondary-text-color;
  }

  #copyright {
    text-align: right;

    svg {
      vertical-align: middle;

      height: 2.25rem;
      margin: 0 .2rem;
      width: 2.25rem;
    }
  }
}
