@import 'base/constants';

th, td {
  border-bottom: 1px solid $line-color;

  padding: 1rem;
  text-align: left;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}
