

$larger-than-mobile: "only screen and (min-width: 400px)";
$larger-than-phablet: "only screen and (min-width: 550px)";
$larger-than-tablet: "only screen and (min-width: 750px)";

$default-text-color: #333;
$secondary-text-color: #aaa;

$accent-color: #1eaedb;
$accent-color-dark: #0fa0ce;

$line-color: #aaa;

$max-content-width: 850px;

$base-font-size: 1rem;
$base-line-height: 1.7rem;

/*

// Larger than mobile
@media (min-width: 400px) {}

// Larger than phablet (also point when grid becomes active)
@media (min-width: 550px) {}

// Larger than tablet
@media (min-width: 750px) {}

// Larger than desktop
@media (min-width: 1000px) {}

// Larger than Desktop HD
@media (min-width: 1200px) {}

*/
