@import 'base/constants';

@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  }

  @return $value;
}

html {
  &.wf-loading {
    visibility: hidden;
  }
}

// FIXME wrong file?
body {
  max-width: $max-content-width;
  margin: 0 auto;
  padding: 0 1rem;

  &.wide {
    max-width: 1150px;
  }
}

body {
  color: $default-text-color;
  background-color: #fff;

  header,
  nav,
  menu {
    a {
      color: $default-text-color;
    }

    a:hover {
      color: $accent-color;
    }
  }
}

body.dark {
  color: #aaa;
  background-color: #111;

  header,
  nav,
  menu {
    a {
      color: #aaa;
    }

    a:hover {
      color: $accent-color;
    }
  }
}
// endfixme


body {
  font-family: 'Open Sans', sans-serif;
  font-size: $base-font-size * 0.95;
  line-height: $base-line-height;

  @media #{$larger-than-phablet} {
    font-size: $base-font-size;
  }
}

a {
  color: $accent-color;
  text-decoration: none;

  &:hover {
    color: $accent-color-dark;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 300;
  margin: 0;
}


$mobile-harmonic: 1.1; // minor second
$desktop-harmonic: 1.2; // minor second

h1 { font-size: 1em * pow($mobile-harmonic, 6); line-height: $base-line-height * 2; }
h2 { font-size: 1em * pow($mobile-harmonic, 5); line-height: $base-line-height * 2; }
h3 { font-size: 1em * pow($mobile-harmonic, 4); line-height: $base-line-height * 2; }
h4 { font-size: 1em * pow($mobile-harmonic, 3); line-height: $base-line-height * 2; }
h5 { font-size: 1em * pow($mobile-harmonic, 2); line-height: $base-line-height * 2; }
h6 { font-size: 1em * pow($mobile-harmonic, 1); line-height: $base-line-height * 2; }

@media #{$larger-than-phablet} {
  h1 { font-size: 1em * pow($desktop-harmonic, 6); line-height: $base-line-height * 4; }
  h2 { font-size: 1em * pow($desktop-harmonic, 5); line-height: $base-line-height * 3; }
  h3 { font-size: 1em * pow($desktop-harmonic, 4); line-height: $base-line-height * 3; }
  h4 { font-size: 1em * pow($desktop-harmonic, 3); line-height: $base-line-height * 2; }
  h5 { font-size: 1em * pow($desktop-harmonic, 2); line-height: $base-line-height * 2; }
  h6 { font-size: 1em * pow($desktop-harmonic, 1); line-height: $base-line-height * 2; }
}

/*
h1 { font-size: 2.0em; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 1.6em; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 1.4em; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 1.3em; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.2em; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.1em; line-height: 1.6;  letter-spacing: 0; }
*/

/*
@media #{$larger-than-phablet} {
  h1 { font-size: 3.0rem; }//line-height: 1.35;  letter-spacing: -.1rem;}
  h2 { font-size: 2.3rem; }//line-height: 1.4; letter-spacing: -.1rem; }
  h3 { font-size: 1.9rem; }//line-height: 1.45; letter-spacing: -.1rem; }
  h4 { font-size: 1.5rem; }//line-height: 1.5;  letter-spacing: -.08rem; }
  h5 { font-size: 1.3rem; }//line-height: 1.55; letter-spacing: -.05rem; }
  h6 { font-size: 1.15rem; }//line-height: 1.6; letter-spacing: 0; }
}
*/

p {
  text-align: justify;
}

code, tt, pre {
  font-family: 'Fira Code', 'Courier New', monospace;
}

hr {
  border: none;
  height: 1px;
  background-color: $line-color;
  margin: 2rem 0;
}

blockquote {
  margin: 0;
  border-left: 0.25rem solid $line-color;
  color: #666;
  padding: 0 1rem;

  @media #{$larger-than-phablet} {
    margin: 0 1rem;
  }
}
